* {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

body {
  background: #eee;
}

a {
  text-decoration: none !important;
  color: #00b295;
}

a:hover {
  color: #ab2346;
}

/* MAIN CONTENT */
main section {
  background: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

div.tags {
  text-align: right;
}

.tags ul li {
  display: inline-block;
  background: #eee;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
}

/* SIDEBAR CONTENT*/
main aside {
  background: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/* BUTTONS */
input.btn {
  width: 100%;
  background: #00b295;
  color: #fff;
  font-weight: bold;
}

input.btn:hover {
  background: #ab2346;
  color: #fff;
}

.jumbotron {
  background: none;
}